<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base::head(~{::title})">
    <meta charset="UTF-8">
    <title>Post Something!</title>
</head>
<body>
<main class="container">
    <div class="jumbotron">
        <form th:action="@{/create}" method="post" th:object="${post}">
            <div class="form-group row">
                <label for="Title" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title"
                           name="title" th:field="*{title}" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="Title" class="col-sm-2 col-form-label">Content</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" id="content"
                              name="title" rows="10" th:field="*{content}"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
</main>
<footer th:replace="fragments/base::footer">
</footer>
</body>
</html>
