<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/base::head(~{::title})">
    <title>Spring Security Example </title>
</head>
<body>
<div class="card bg-warning">
    <div th:if="${param.error}" class="card-body">
        Invalid username and/or password.
    </div>
    <div th:if="${param.logout}" class="card-body">
        You have been logged out.
        <a href="../" class="card-link">Return to the MainPage</a>
    </div>
</div>
<div class="card-group">
    <div class="card">
        <form th:action="@{/login}" method="post">
            <div class="card-body">
                <h4 class="card-title">Login</h4>
                <div><label> User Name : <input type="text" name="username"/> </label></div>
                <div><label> Password: <input type="password" name="password"/> </label></div>
            </div>
            <div class="card-footer">
                <div><input type="submit" value="Sign In" class="btn btn-primary"/></div>
            </div>
        </form>
    </div>
    <div class="card">
        <form th:action="@{/logout}" method="post">
        <div class="card-body">
            <h4 class="card-title">Logout</h4>
            <p class="card-text">This page doesn't auto-redirect to the main page. Use the link below.</p>
            <p class="card-text">You can use the link that appears after logout!</p>
        </div>
        <div class="card-footer">
            <input type="submit" value="Sign Out" class="btn btn-warning"/>
        </div>
        </form>
    </div>
</div>
</body>
</html>
