body {
    margin: 0;
    font-family: consolas, courier;
    font-size: 14pt;
    color: white;
    padding: 0% 10%;
    background: #4396E9;
}

table {
    background: lightgrey;
}

thead {
    background: black;
}