<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div class="main">
<div class="header">
    <h1>Kiki's Awesome Webshop</h1>
    <nav>
        <a href="#">Only Available</a>
        <a href="#">Cheapest First</a>
        <a href="#">Contains Nike</a>
        <a href="#">Average Stock</a>
        <a href="#">Most Expensive Available</a>
    </nav>
</div>
    <p th:text="'Hello, ' + ${name} + '!'"/>
</div>
</body>
</html>
