<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kiki's Awesome Webshop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/styles.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div class="main">
    <div th:replace="fragments/header :: header">
    </div>
    <table>
            <p class="singleLineOut" th:text="${text}"></p>
    </table>
</div>
</body>
</html>
