<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kiki's Awesome Webshop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/styles.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div class="main">
    <div th:replace="fragments/header :: header">
    </div>
    <table>
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity of Stock</th>
        </thead>
        <tbody>
            <tr th:each="item : ${items}">
                <td class="name" th:text="${item.getName()}"></td>
                <td class="description" th:text="${item.getDescription()}"></td>
                <td class="price" th:text="${item.getPrice()}"></td>
                <td class="qty" th:text="${item.getQty()}"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
