body {
    font-family: 'Roboto', sans-serif;
    background: #EBEBEB;
    color: #515151
}

.main {
    width: 80%;
    background: #ffffff;
    margin: auto;
    padding: 5%;
}

#headerLink {
    text-decoration: none;
    color: #515151;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav > a {
    background-color: #515151;
    text-decoration: none;
    color: white;
    font-size: 14pt;
    border-radius: 1.5em;
    padding: 1em;
    margin: 0 10px;
}

#searchbar {
    display: flex;
    justify-content: center;
    margin: 30px;
}

input {
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #E7E7E7;
    width: 60%;
}

input:focus {
    border-color: #77A171;
    outline: 0;
}

button {
    padding: 1em;
    border-color: #77A171;
    border-radius: 0.5em;
    background-color: white;
}

button:focus {
    outline: 0;
}

table {
    width: 90%;
    margin: 2em auto;
    border-collapse: collapse;
}

td, th {
    padding: 1rem;
    text-align: left;
    border: 2px #515151 solid;
}

.price::after {
    content:' Kč';
}

p {
    font-size: 18pt;
    margin: 50px 10%;
}
