<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main::head(~{::title})">
    <title>Create ToDo</title>
</head>
<body>
<main class="container">
    <div class="jumbotron">
        <h1 class="display-4">Create New ToDo:</h1>
        <form action="/todo/create" method="post" class="form-group">
            <div class="input-group">
                <input type="text" name="name" placeholder="ToDo Item" class="form-control">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <input class="form-check-input" name="urgent" type="checkbox" id="inlineFormCheck">
                        <label class="form-check-label" for="inlineFormCheck">
                            Urgent
                        </label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Add</button>
            <a href="/todo/list" class="btn btn-danger mb-2">Cancel</a>
        </form>
    </div>
</main>
<footer th:replace="fragments/main::footer"></footer>
</body>
</html>
