<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add ToDo</title>
    <link href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<main class="container">
    <div class="jumbotron">
        <form th:action="@{/todo/{id}/edit(id=${toDo.getId()})}" method="post">
            <h1>ToDo task:</h1>
            Original Text:
            <span th:text="${toDo.getTitle()}"></span>
            (leave the text be if you want to keep it)
            <div class="input-group">
                <input type="text" class="form-control" name="title" th:placeholder="${toDo.getTitle()}">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <input type="checkbox" name="isDone" th:checked="${toDo.isDone()}?'checked'">
                    </div>
                </div>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <input type="checkbox" name="isUrgent" th:checked="${toDo.isUrgent()}?'checked'">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-warning">Edit</button>
            <form action="/todo/list">
                <button type="submit" class="btn btn-danger">Cancel</button>
            </form>
        </form>
    </div>
</main>
<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
