<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/main::head(~{::title})">
    <title>ToDo</title>
</head>
<body>
<header th:replace="fragments/main::header">
</header>
<main class="container">
    <h1 class="display-4">ToDos for today:</h1>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Action</th>
            <th>Done</th>
            <th>Urgent</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.getId()}"></td>
            <td th:text="${todo.getTitle()}"></td>
            <td>
                <i th:text="${todo.isDone()}? 'check_box' : 'check_box_outline_blank'" class="material-icons"></i>
            </td>
            <td>
                <i th:text="${todo.isUrgent()}? 'warning'" class="material-icons"></i>
            </td>
            <td>
                <a th:href="@{/todo/{id}/delete(id=${todo.getId()})}" class="btn btn-danger">Delete</a>
            </td>
            <td>
                <a th:href="@{/todo/{id}/edit(id=${todo.getId()})}" class="btn btn-primary">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<footer th:replace="fragments/main::footer"></footer>
</body>
</html>
