<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>ToDo</title>
    <link rel="stylesheet" type="text/css" th:href="@{../styles.css}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <a href="/todo/list">List All Tasks</a>
        <a href="/todo/create">Add ToDo Task</a>
        <a href="/todo/list?isActive=true">Show only active Tasks</a>
    </nav>
</header>
<main>
    <h1>ToDos for today:</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Action</th>
            <th>Done</th>
            <th>Urgent</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="todo : ${todos}">
            <td th:text="${todo.getId()}"></td>
            <td th:text="${todo.getTitle()}"></td>
            <td th:text="${todo.isDone()}"></td>
            <td th:text="${todo.isUrgent()}"></td>
            <td><form action="/todo/delete" method="POST">
                <button type="submit"  name="id" th:value="${todo.getId()}">DEL</button>
            </form></td>
            <td><form th:action="@{/todo/{id}/edit(id=${todo.getId()})}" method="GET">
                <button type="submit">Edit</button>
            </form></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>
